{% extends 'sengladmin/welcome.html' %}
{% block content %}
<div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>收件人列表<small></small></h2>
                        <button id="add_consignee" type="button" class="btn btn-success btn-sm btn-right" data-toggle="modal" data-target=".add_consignee">新增收件人</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>邮箱</th>
                                    <th>分组</th>
                                    <th>服务</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consignee in context.rsp_body.consignees %}
                                    <tr>
                                        <td>{{ consignee.name }}</td>
                                        <td>{{ consignee.email }}</td>
                                        <td>{{ consignee.group }}</td>
                                        <td>{{ consignee.service }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs btn-custom btnModifyConsignee" data-toggle="modal" data-target=".modifyConsignee">
                                                <i class="fa fa-pencil"></i> 编辑
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-custom btnRemoveConsignee" data-toggle="modal" data-target=".removeConsignee">
                                                <i class="fa fa-trash-o"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--add consignee module-->
<div class="modal fade add_consignee" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">新增收件人</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px 20px;" class="form-group">
                    <form data-parsley-validate class="form-horizontal form-label-left" autocomplete="off">
                        <span id="current_account" hidden>{{ account }}</span>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="consignee_name">姓名<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="consignee_name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="consignee_email">邮箱<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="consignee_email" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="consignee_group">分组<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ul id="consignee_group" class="md_group_ul">
                                    <li>dev</li>
                                    <li>production</li>
                                    <li>test</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="consignee_service">服务<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <!--select id="consignee_service" class="form-control" multiple></select-->
                                <ul id="consignee_service" class="md_consignee_ul">
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_add_consignee" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- /add consignee module-->

<!--modify consignee module-->
<div class="modal fade modifyConsignee" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">收件人详细信息</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px 20px;" class="form-group">
                    <form data-parsley-validate class="form-horizontal form-label-left" autocomplete="off">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_consignee_name">姓名<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="md_consignee_name" required="required" class="form-control col-md-7 col-xs-12" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_consignee_email">邮箱<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="md_consignee_email" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_consignee_group">分组<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ul id="md_consignee_group" class="md_group_ul">
                                    <li value="dev">dev</li>
                                    <li value="production">production</li>
                                    <li value="test">test</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="md_consignee_service">服务<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ul id="md_consignee_service" class="md_consignee_ul">
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_modify_consignee" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- /modify consignee module-->

<!--remove consignee module-->
<div class="modal fade removeConsignee" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">确定删除该收件人？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_remove_consignee" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!--remove consignee module-->

{% endblock %}

{% block import_css %}
    <link href="/static/css/green.css" rel="stylesheet">    
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block import_js %}
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#datatable').dataTable();
        });

        $('#consignee_group').on('click','li',function(){
            $(this).toggleClass('height')
        })
        $('#md_consignee_group').on('click','li',function(){
            $(this).toggleClass('height')
        })
        $('#consignee_service').on('click','li',function(){
            $(this).toggleClass('height')
        })
        $('#md_consignee_service').on('click','li',function(){
            $(this).toggleClass('height')
        })
    </script>
{% endblock %}

