{% extends 'sengladmin/welcome.html' %}
{% block content %}
<div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>服务列表<small></small></h2>
                        <!--button id="add_service" type="button" class="btn btn-success btn-sm btn-right" data-toggle="modal" data-target=".add_service">新增服务</button-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>描述</th>
                                    <th>状态</th>
                                    <th>已部署的数据中心</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in context.rsp_body.services %}
                                    <tr>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.description }}</td>
                                        <td>{{ service.status }}</td>
                                        <td>{{ service.datacenters }}</td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-xs btn-custom btnUnlockService" data-toggle="modal" data-target=".unlockService">
                                                <i class="fa fa-unlock"></i> 解锁
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs btn-custom btnLockService" data-toggle="modal" data-target=".lockService">
                                                <i class="fa fa-lock"></i> 锁定
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs btn-custom btnRemoveService" data-toggle="modal" data-target=".removeService">
                                                <i class="fa fa-trash-o"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--add datacenter password module-->
<div class="modal fade add_service" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">新增服务</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px 20px;" class="form-group">
                    <form data-parsley-validate class="form-horizontal form-label-left" autocomplete="off">
                        <span id="current_account" hidden>{{ account }}</span>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="service_name">名称<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="service_name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="service_desc">说明<span class="required"> *</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="service_desc" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_add_service" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- /add service module-->

<!--unlock service module-->
<div class="modal fade unlockService" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">确定解锁该服务？</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h6 class="modal-title">解锁后，该服务在所有数据中心将恢复被允许升级，直到再次锁定</h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_unlock_service" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!--unlock service module-->

<!--lock service module-->
<div id="lockService" class="modal fade lockService" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">确定锁定该服务？</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h6 class="modal-title">锁定后，该服务在所有数据中心都将不允许升级，直到解锁</h6>
                </div>
            </div>
            <div class="modal-footer">
                <button id="button_lock_cancel" type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_lock_service" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!--lock service module-->

<!--remove service module-->
<div class="modal fade removeService" tabindex="-1" role="dialog" aria-labelledby="ModalPsd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">确定删除服务？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" style="margin-bottom:0px" data-dismiss="modal">取消</button>
                <button id="button_remove_service" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!--remove service module-->

{% endblock %}

{% block import_css %}
    <link href="/static/css/green.css" rel="stylesheet">    
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block import_js %}
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#datatable').dataTable();
        });

        $('#lockService').on('hide.bs.modal', function () {
            $(this).removeData();
            $(this).removeData("bs.modal");
        });
    </script>
{% endblock %}
